#=================================================
# Description: Build OpenWrt using GitHub Actions
# Author: sirpdboy
# https://github.com/sirpdboy/Openwrt

name: Sirpdboy-OpenWrt-CI
on:
  push:
    branches: 
      - master
  schedule:
    - cron: 0 20 */2 * *
  release:
    types: [published]
  watch:
    types: started
env:
  REPO_URL: https://github.com/coolsnowwolf/lede
  REPO_BRANCH: master
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: allappdrv.config
  DIY_P1_SH: update_pack.sh
  DIY_P2_SH: update_init.sh
  TD: Asia/Shanghai

jobs:
  Openwrt_IPv6_Build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout
       uses: actions/checkout@main
       with:
          ref: master
     - name: Init Build
       env:
        DEBIAN_FRONTEND: noninteractive
       run: |
          docker rmi `docker images -q`
          sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
          sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php*
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs gcc-multilib g++-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler antlr3 gperf swig
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          sudo timedatectl set-timezone "$TD"
          sudo chown -R runner:runner /home/runner/work/openwrt
     - name: Download openwrt
       run: git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt
     - name: Update Packages
       run: cd openwrt && chmod +x  ../scripts/$DIY_P1_SH  && ../scripts/$DIY_P1_SH

     - name: Download feeds
       run: cd openwrt &&  ./scripts/feeds update -a

     - name: Update config
       run: |
           curl -fsSL https://raw.githubusercontent.com/siropboy/other/master/patch/x86-64/$CONFIG_FILE > openwrt/.config
           cd openwrt
           chmod +x ../scripts/$DIY_P2_SH  &&../scripts/$DIY_P2_SH
     - name: Install feeds
       run: cd openwrt && ./scripts/feeds install -a 
     - name: Make Download
       run: |
         cd openwrt
         make defconfig
         make -j8 download
         find dl -size -1024c -exec ls -l {} \;
         find dl -size -1024c -exec rm -f {} \;
     - name: Compile Openwrt
       run: |
          cd openwrt
          echo -e "$(nproc) thread build."
          make -j$(nproc) || make -j1 V=s
          echo "======================="
          echo "Space usage:"
          echo "======================="
          df -h
          echo "======================="
          du -h --max-depth=1 ./ --exclude=build_dir --exclude=bin
          du -h --max-depth=1 ./build_dir
          du -h --max-depth=1 ./bin
     - name: Prepare Artifact
       run: |
        mkdir -p ./new/firmware
        mkdir -p ./new/package
        cp -rf $(find ./openwrt/bin/packages/ -type f -name "*.ipk") ./new/package
        find openwrt/bin/targets/ -name "*sysupgrade*bin*" | xargs -i mv -f {} ./new/firmware
        find openwrt/bin/targets/ -name "*combined*img*" | xargs -i mv -f {} ./new/firmware
        cd ./new/firmware
        gzip *.img
     - name: Upload Firmware
       uses: actions/upload-artifact@main
       with:
          name: SirpdboyOpenWrt-IPV6-Firmware
          path: ./new/firmware
     - name: Upload  IPK
       uses: actions/upload-artifact@main
       with:
          name: SirpdboyOpenWrt-IPV6-Ipk
          path: ./new/package
     - name: Upload firmware to cowtransfer
       run: |
         curl -fsSL git.io/file-transfer | sh
         ./transfer cow --block 2621440 -s -p 64 --no-progress ./new/firmware 2>&1 | tee cowtransfer.log
         echo "::warning file=cowtransfer.com::$(cat cowtransfer.log | grep https)"
     - name: Upload Firmware wetransfer
       run: |
        curl -fsSL git.io/file-transfer | sh
        ./transfer wet -s -p 16 --no-progress ./new/firmware 2>&1 | tee wetransfer.log
        echo "::warning file=wetransfer.com::$(cat wetransfer.log | grep https)"
